<h1>Home</h1></br>
<%= form_tag deals_path, :method => :get do %>
<p>
<%= text_field_tag :search, params[:search] %>
<%= submit_tag "Search Deals Near Me", :name => nil %>
</p>
<% end %>

<% if notice %> 
<p id="notice"><%= notice %>
</p> 
<% end %>
<% cache ['home', Deal.latest] do %>
<% @deals.each do |deal| %> 
<% cache ['entry', deal] do %>

<div class="entry"> 
<%= image_tag(deal.image_url) %> <h3>
<%= deal.name %></h3> <%= sanitize(deal.description) %> 

<div class="price_line"> 

<span class="price">
<%= number_to_currency(deal.price,:unit => "€") %>
</span>

<%= deal.status %>
<%= link_to 'View Deal', deal %>
<%= button_to 'Add to Cart', line_items_path(deal_id: deal),
remote: true %>

 </div>

 </div>
 <% end %>
   <% end %>
   <% end %>

