<h1>Listing Deals</h1>

<table> 
<% @deals.each do |deal| %> 
<tr class="<%= cycle('list_line_odd', 'list_line_even') %>"> 
<td> <%= image_tag(deal.image_url, class: 'list_image') %> </td> 
<td class="list_description"> 
<dl> 
<dt><%= deal.name %></dt> 
<dd><%= truncate(strip_tags(deal.description), length: 80) %></dd>
 </dl> 
 </td> 
 <td class="list_actions"> 
 <%= link_to 'Show', deal %><br/> 
 <%= link_to 'Edit', edit_deal_path(deal) %><br/> 
 <%= link_to 'Destroy', deal, method: :delete, data: { confirm: 'Are you sure?' } %> </br>
 <%= link_to 'New Deal', new_deal_path %>

 </td> 
 </tr>
 <% end %> 
 </table> <br />
 <div id="BOB" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
 
 <script type="text/javascript" src="http://code.highcharts.com/highcharts.js"></script>
 <script type="text/javascript">
$(function () {
        $('#BOB').highcharts({
            chart: {
                type: 'column'
            },
            title: {
                text: 'Total Deal Types'
            },
            subtitle: {
                text: 'Source: Db deals table'
            },
            xAxis: {
                categories: ['LUNCH', 'STUDENT', 'COMING SOON', 'FITNESS'],
                title: {
                    text: null
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Total Number',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            tooltip: {
                valueSuffix: ''
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true
                    }
                }
            },

            credits: {
                enabled: false
            },
            series: [{
               name: 'Deal',
               data: [<%= Deal.where(:category => 'Lunch').count %>, <%= Deal.where(:category => 'Student Deal').count %>, 
			   <%= Deal.where(:category => 'Coming Soon').count %>, <%= Deal.where(:category => 'Fitness').count %>]
            }]
        });
    });
</script>
